@import '~/assets/styling/variables.sass'
@import '~/assets/styling/typography.sass'
@import '~/assets/styling/transitions.sass'

.view-General
  position: relative
  display: flex
  min-height: 100vh
  flex-direction: column

.view-Landing
  > div
    width: 100vw
    height: 100vh
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
  h1
    position: relative
    font-size: 10vmin
    cursor: pointer
    text-decoration: none !important
    border-bottom: .25vmin white solid
    transition: all $transition-links
    &:hover
      border-bottom: .25vmin black solid
    &:before
      font-size: 4vmin


.view-Horizontal
  flex: 1
  position: relative // Completely centers content
  width: 100vw
  height: 100%
  overflow-y: hidden
  overflow-x: auto
  z-index: 0
  .post-List
    position: relative
    height: 100%
    display: flex
    align-items: flex-end
    padding: $spacing-3
    flex-grow: 1
    .post-Item
      position: relative
      height: calc(100vh - 160px)
      flex: 0 0 auto
      display: flex
      flex-direction: column
      justify-content: flex-end
      width: auto
      flex-grow: 1
      > div
        margin-bottom: $spacing-1
        cursor: pointer
      > div:last-child
        margin-bottom: 0
      .post-Thumbnail
        position: relative
        height: 100%
        display: flex
        flex-direction: column
        justify-content: flex-end
        img
          max-height: 100%
          max-width: 100%
      .post-Info
        text-align: right
    .post-Item:nth-child(1)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:nth-child(2)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:nth-child(3)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:nth-child(4)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:nth-child(5)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:nth-child(6)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:nth-child(7)
      margin-right: (random(125) + 50)+px
      padding-top: (random(150))+px
    .post-Item:last-child
      padding-right: $spacing-3

.view-Vertical
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100vh
  .post-List
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 100%
    max-width: 660px
    padding-top: $spacing-3
    padding-bottom: $spacing-3
  .post-Item
    display: flex
    flex-direction: column
    padding-bottom: $spacing-4
    border-bottom: 1px black solid
    > div
      margin-bottom: $spacing-3
    > div:last-child
      margin-bottom: 0
    img
      width: 100%
      margin-bottom: $spacing-3
    img:last-child
      margin-bottom: 0
    .post-Info
      display: flex
      span
        font-size: calc(#{$font-base} / 2)
        transform: translateY(4px)
        margin-left: .1em
  .post-Navigation
    position: fixed
    top: 50%
    transform: translateY(-50%)
    padding: $spacing-3
    cursor: pointer
    &_Left
      left: 0
    &_Right
      right: 0

header
  position: relative
  width: 100%
  top: 0
  left: 0
  z-index: 999
  ul
    display: flex
    li
      img
        margin-right: $spacing-1
  .header-Item
    padding: $spacing-3
    cursor: pointer
    p, a
      border-bottom: 1px white solid
      transition: all $transition-links
    &:hover
      p, a
        border-bottom: 1px black solid
  .header-Filter
    display: flex

  .header-Vertical
    position: fixed
    top: 0
    left: 0
    z-index: 999

.icon
  &-Close
    width: 16px
    height: 16px
  &-Left
    width: 17px
    height: 17px
  &-Right
    width: 17px
    height: 17px

.logo
  position: relative
  &:before
    position: absolute
    content: '1'
    top: 0
    right: 0
    font-size: calc(#{$font-base} / 2)
    transform: translate(.75em, -.75em)
