@import '~/assets/styling/variables.sass'
@import '~/assets/styling/typography.sass'
@import '~/assets/styling/transitions.sass'

.view-General
  position: relative
  display: flex
  min-height: 100vh
  flex-direction: column

.view-Landing
  > div
    width: 100vw
    height: 100vh
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
  h1
    position: relative
    font-size: 10vmin
    cursor: pointer
    text-decoration: none !important
    border-bottom: .25vmin white solid
    transition: all $transition-links
    &:hover
      border-bottom: .25vmin black solid
    &:before
      font-size: 4vmin


.view-Horizontal
  flex: 1
  position: relative // Completely centers content
  width: 100vw
  height: 100%
  overflow-y: hidden
  overflow-x: auto
  z-index: 0
  .post-List
    position: absolute // Gives child 100% height
    top: 0
    left: 0
    bottom: 0
    display: flex
    align-items: flex-start
    height: 100%
    padding: $spacing-3
    flex-grow: 1
    .post-Item
      position: relative
      flex: 0 0 auto
      display: flex
      flex-direction: column
      justify-content: flex-end
      width: 50vh
      height: 100%
      flex-grow: 1
      > div
        margin-bottom: $spacing-1
        cursor: pointer
      > div:last-child
        margin-bottom: 0
      img
          height: auto
          width: 100%
          max-height: 100%
          max-width: 100%
      .post-Info
        text-align: right
    .post-Item:nth-child(1)
      margin-right: (random(125) + 50)+px
      width: (random(25) + 30)+vh
    .post-Item:nth-child(2)
      margin-right: (random(125) + 50)+px
      width: (random(25) + 30)+vh
    .post-Item:nth-child(3)
      margin-right: (random(125) + 50)+px
      width: (random(25) + 30)+vh
    .post-Item:nth-child(4)
      margin-right: (random(125) + 50)+px
      width: (random(25) + 30)+vh
    .post-Item:nth-child(5)
      margin-right: (random(125) + 50)+px
      width: (random(25) + 30)+vh
    .post-Item:nth-child(6)
      margin-right: (random(125) + 50)+px
      width: (random(30) + 30)+vh
    .post-Item:nth-child(7)
      margin-right: (random(125) + 50)+px
      width: (random(30) + 35)+vh
    .post-Item:last-child
      margin-right: 0

.view-Vertical
  margin-top: $spacing-3
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  .post-List
    display: flex
    flex-direction: column
    width: 100%
    max-width: 660px
  .post-Item
    display: flex
    flex-direction: column
    margin-bottom: $spacing-4
    > div
      margin-bottom: $spacing-3
    > div:last-child
      margin-bottom: 0
    img
      width: 100%
      margin-bottom: $spacing-3
    img:last-child
      margin-bottom: 0
    .post-Info
      display: flex
      span
        font-size: calc(#{$font-base} / 2)
        transform: translateY(4px)
        margin-left: .1em
  .post-Navigation
    position: fixed
    top: 50%
    transform: translateY(-50%)
    padding: $spacing-3
    cursor: pointer
    &_Left
      left: 0
    &_Right
      right: 0


.view-ProfileTwo
  background: black
  position: relative
  margin: 0
  min-height: 100vh
  .post-List
    margin-top: $spacing-5
  p, h1
    color: white
  h1
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)
    font-size: 15vw
    text-align: right
    text-transform: lowercase

header
  position: relative
  width: 100%
  top: 0
  left: 0
  ul
    display: flex
    justify-content: flex-start
    li
      display: flex
      padding: $spacing-3
      cursor: pointer
      p
        border-bottom: 1px white solid
        transition: all $transition-links
      &:hover
        p
          border-bottom: 1px black solid
      img
        margin-right: $spacing-1
  .header-Vertical
    position: fixed
    top: 0
    left: 0
    z-index: 999

.icon
  &-Close
    width: 16px
    height: 16px
  &-Left
    width: 17px
    height: 17px
  &-Right
    width: 17px
    height: 17px

.logo
  position: relative
  &:before
    position: absolute
    content: '1'
    top: 0
    right: 0
    font-size: calc(#{$font-base} / 2)
    transform: translate(.75em, -.75em)



