@import '~/assets/styling/variables.sass'

// https://type-scale.com/

@font-face
  font-family: 'Century Schoolbook'
  src: url('~assets/fonts/1.woff') format('woff')
  font-weight: normal
  font-style: normal

h1, h2, h3, p, figcaption, a, a:link, a:visited
  font-family: "Century Schoolbook", Helvetica, Arial, sans-serif
  font-size: $font-base
  line-height: $lineheight-base
  color:  black
  white-space: pre-line
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-decoration: none

.theSlide h1
  font-size: 8vw
  @media all and (max-width: $breakpoint)
    font-size: 12vw

h1
  font-size: 4vw
  @media all and (max-width: $breakpoint)
    font-size: 8vw

figcaption
  @media all and (max-width: $breakpoint)
    font-size: 8vw

strong
  font-weight: bold

i, em
  font-style: italic
